<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VIFAC - Donaciones</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="../../../static/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../../static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Brand
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Team</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="https://twitter.com/maridlcrmn">Follow me</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
  <section id="donaciones">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Registrar donador</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                <div class="container">
                  <form>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Introduce información del donador</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                              <label for="name">Nombre:</label>
                              <input type="name" class="form-control" id="name" placeholder="Nombre">
                        </div>
                        <div class="col-md-4">
                              <label for="category">Categoría</label>
                                <select class="form-control" id="category">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                 </select>
                        </div>

                        <div class="col-md-4">
                            <label for="integrationdate">Fecha de integración:</label>
                            <input type="date" class="form-control" id="integrationdate" placeholder="Fecha">
                        </div>
                    </div>



                    <div class="row addmargin">
                    <div class="col-md-2">
                        <label for="pais">País:</label>
                        <select class="form-control" id="pais">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="estado">Estado:</label>
                        <select class="form-control" id="estado">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        </select>

                    </div>
                      <div class="col-md-3">
                          <label for="city">Ciudad:</label>
                            <select class="form-control" id="city">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                             </select>
                    </div>
                      <div class="col-md-4 ">
                              <label for="address">Calle:</label>
                              <input type="text" class="form-control" id="address" placeholder="Calle">
                      </div>
                      <div class="col-md-1">
                              <label for="addressno">Número:</label>
                              <input type="text" class="form-control" id="addressno" placeholder="#">
                      </div>
                    </div>
                      <div class="row addmargin">
                            <div class="col-md-4">
                              <label for="vifacreference">Referencia:</label>
                              <input type="text" class="form-control" id="vifacreference" placeholder="Persona de VIFAC">
                            </div>
                      </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Contacto principal</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                              <label for="contactname">Nombre Contacto:</label>
                              <input type="name" class="form-control" id="contactname" placeholder="Nombre Contacto">
                        </div>
                        <div class="col-md-4">
                              <label for="contactphone">Teléfono Contacto:</label>
                              <input type="phone" class="form-control" id="contactphone" placeholder="XXX-XXXXXXX">
                        </div>
                        <div class="col-md-4">
                               <label for="email">Email Contacto:</label>
                              <input type="email" class="form-control" id="email" placeholder="ejemplo@ejemplo.com">
                        </div>
                    </div>
                    <div class="row addmargin">
                        <div class="col-md-4">
                            <label for="birthday">Fecha de nacimiento:</label>
                            <input type="date" class="form-control" id="birthday" placeholder="Cumpleaños">
                        </div>
                        <div class="col-md-4">
                            <label for="aniversary">Fecha de aniversario:</label>
                            <input type="date" class="form-control" id="aniversary" placeholder="Aniversario">
                        </div>
                    </div>
                    </div>
                    <div class="row addmargin5">
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-success btn-lg">Guardar</button>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Header -->


    <!-- Contact Section -->


    <!-- Portfolio Modals -->
    
    <!-- jQuery -->
    <script src="../../../static/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../../../static/js/jqBootstrapValidation.js"></script>
    <script src="../../../static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../../../static/js/freelancer.min.js"></script>
    <script>

        $(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = false;

    trigger.click(function () {
      hamburger_cross();
    });

    function hamburger_cross() {

      if (isClosed == true) {
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }

  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });
});
    </script>

</body>

</html>
