{% extends 'base/layout.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>Usuarios de Vifac</h1>
    <p>
        <a href="{% url "users:new" %}">Agregar usuario</a>
    </p>

    <ul>
        {% for user in object_list|slice:":3" %}
            <li>
                <p>{{ user.name }}</p>
                <p>
                    <a href="{% url "users:detail" user.id %}">Ver</a> |
                    <a href="{% url "users:edit" user.id %}">Editar</a> |
                    <a href="{% url "users:delete" user.id %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
</ul>

{% endblock content %}