{% extends 'base/layout.html' %}
{% load widget_tweaks %}

{% block content %}
	<h1>{{ user.name }} {{user.aPaterno }} {{user.aMaterno }}</h1>
    <p>Password: <i>{{ user.password }}</i></p>
    <p>Username: <i>{{ user.username }}</i></p>
    <p>Fecha de nacimiento: <i>{{ user.fNacimiento }}</i></p>
    <p>Calle: <i>{{ user.calle }}</i></p>
    <p>Colonia: <i>{{ user.colonia }}</i></p>
    <p>Código Postal: <i>{{ user.cP }}</i></p>
        <a href="{% url "users:list" %}">Regresar</a>

{% endblock content %}