<!DOCTYPE html>
<html>{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="VIFAC">

    <title>VIFAC</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize CSS -->
    <link type="text/css" rel="stylesheet"  href="{% static "css/materialize.css" %}" media="screen,projection"/>

    <!-- Freelance CSS -->
    <link type="text/css" rel="stylesheet" href="{% static "css/freelance.css"%}"  media="screen,projection"/>

</head>
	<body id="page-top" class="index">
	<main>
		{% block content %}
		{% endblock content %}
	</main>
    <!-- Import jQuery before materialize.js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="{%  static "js/materialize.js"%}"></script>

    <script type="text/javascript" src="{%  static "js/freelance.js"%}"></script>

</body>

</html>